@font-face {
    font-family: 'Mollie';
    src: url('Mollie.ttf') 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Mollie';
    background-color: #5183C2; 
}

